@layer utilities {
  .fade-edges {
    mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
  }
}
